body{
    margin: 0px;
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #2f5fb3;
    width: 100%;
    padding: 30px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.425);
}

#btn{
  margin-right: 85%;
}

.form-container {
  width: 400px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px 10px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.575);
}

.form-group {
  display: contents;
}

label {
  align-self: center;
  font-weight: 500;
}

input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}




footer{
    text-align: center;
    color: white;
    font-style: italic;
}