* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1e293b;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
    color: white;
    font-weight: bold;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
}

.intro {
    width: 100%;
    display: flex;
    justify-content: center;
}

#p1 {
    font-size: 1.3em;
    max-width: 1100px;
    width: 100%;
    background-color: #f4f6f8;
    border-left: 5px solid #1e293b;
    padding: 40px;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    font-size: 1.1em;
    width: 400px;
    min-height: 220px;
    background-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h3 {
    color: #34495e;
    margin-bottom: 15px;
}

.card p {
    font-size: 0.95em;
}

.card:hover {
    transition: 0.3s;
    background-color: rgba(128, 128, 128, 0.76);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.46);
}

footer {
    padding: 20px;
    background-color: #1e293b;
    text-align: center;
    color: white;
    font-style: italic;
}
